header {
  background-color: #ffffff;
  background-image: url("");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  line-height: 1.2;
  padding: 10vw 2em;
  text-align: center;
}

body {
  background-color: #509ff9;
  color: #ffc096;
  margin: 0 auto;
  max-width: 50em;
}

a {
  color: #a61c1c;
}
