@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

header {
  text-align: center;
  font-size: 8em;
  margin-top: 1em;
  font-family: 'Times New Roman', serif;
}

h1, p {
  text-align: center;
  font-size: 2em;
  font-family: 'IBM Plex Serif', serif;
}

body {
  background-color: #1AB5E6;
  color: #EBC246;
  margin: 0 auto;
  max-width: 70em;
  font-family: 'Roboto', sans-serif;
}

a {
  color: #EBE352;
}
