@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&display=swap');
body {
  background-color: #1AB5E6;
  color: #EBC246;
  margin: 0 auto;
  max-width: 50em;
  font-family: 'IBM Plex Serif', serif;
}

a {
  color: #EBE352;
}
